<div>
  <form [formGroup]="menuForm">
  <span class="spacer"></span>
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title" />
  </mat-form-field>
  <span class="spacer"></span>
  <mat-form-field>
    <input matInput placeholder="URL" formControlName="url" />
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)="addMenus()" [disabled]="!menuForm.valid">Add</button>
  </form>
</div>

<div>
  <span class="spacer"></span>
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container class="title" matColumnDef="title">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      style="padding-right: 120px"
    >
      Title
    </th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
    <td mat-cell *matCellDef="let element">{{ element.url }}</td>
  </ng-container>

  <span class="spacer"></span>
  <ng-container class="matspacer" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        aria-label="edit"
        (click)="openEditDialog(element.id, element.title, element.url)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        aria-label="delete"
        (click)="openDialog(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
