table {
  width: 100%;
}
.title {
  margin-right: 100px;
}
.mat-sort-header-button {
  padding-right: 10px;
}

.spacer {
  padding-left: 15px;
}

.mat-column-actions {
  flex: 0 0 100px;
}

.matspacer {
  flex: 0 0 100px;
}
