<div>
  <form [formGroup]="postForm">
  <span class="spacer"></span>
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title" />
  </mat-form-field>
  <span class="spacer"></span>
  <mat-form-field>
    <mat-select placeholder="Select Menu" formControlName="menu_id">
      <mat-option
        *ngFor="let menu of menusList"
        [value]="menu.id"

        
      >
        {{ menu.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="spacer"></span>
  <mat-form-field>
    <textarea
      matInput
      placeholder="content"
      formControlName="content"
    ></textarea>
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)="addPosts()" [disabled]="!postForm.valid">Add</button>
</form>
</div>

<div>
  <span class="spacer"></span>
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container class="title" matColumnDef="title">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      style="padding-right: 120px"
    >
      Title
    </th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="menu_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Menu ID</th>
    <td mat-cell *matCellDef="let element">{{ element.menu_id }}</td>
  </ng-container>

  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
    <td mat-cell *matCellDef="let element">{{ element.content }}</td>
  </ng-container>

  <span class="spacer"></span>
  <ng-container class="matspacer" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        aria-label="edit"
        (click)="openEditDialog(element.id, element.title, element.menu_id, element.content)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        aria-label="delete"
        (click)="openDialog(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
